

*{
  margin: 0 auto;
  padding: 0;
}
@font-face {
  font-family: "xilosa_";
  src: local(xilosa_), url(../fontes/xilosa_.ttf)
}


a{
  color: var(--dark1);
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
  
}

a:hover{
  color: var(--gray);
  opacity: 0.7;
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
 text-align: left;
}

#menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "xilosa_";
  height: 8vh;
  background-color: var(--white);
  width: 100%;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 6%);
}

#menu img{
  width: 120px;
}

.nav-list{
  display: flex;
  list-style: none;

}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
  
}

.mobile-menu{
  cursor: pointer;
}

h1{
   margin-left: 50%;
   margin: 2rem;
  font-family: "xilosa_";
}

#projeto{
  position: absolute;
   top: 20%;
   left: 30%;
   padding: 13px;
   width: 40%;
    font-family: "xilosa_";
  src: local(xilosa_), url(../fontes/xilosa_.ttf);
  font-size: 20px;
}


.div-oxe{
  background-image: url(./oxe.jpg);
  height: 50px;
}

.div-oxe1{
  background-image: url(./oxe.jpg);
  height: 50px;
  margin-top:  60%;
}

